.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ffffff;
    border: 1px solid black;
    padding: 20px;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #ffffff;
    padding: 10px;
}

.grid-container-2-col {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #ffffff;
    padding: 10px;
}

.grid-container-news {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #9b9999;
    border: 1px solid black;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.grid-container-footer {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ffffff;
    border: 1px solid black;
    padding: 0px;
    height: 200px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0px;
    font-size: 16px;
    text-align: center;
    /* width: 360px; */
}

.grid-item-text {
    margin-left: 200px;
    font-size: 16px;
    width: 340px;
    text-align: center;
}

.grid-item-play {
    background-color: rgba(255, 255, 255, 0.8);
    width: 240px;
    padding: 0px;
    font-size: 16px;
    text-align: left;
}

.ul-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.li-nav {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #4CAF50;
}

.active {
    background-color: #4CAF50;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-top-80 {
    padding-top: 80px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.padding-bottom-80 {
    padding-bottom: 80px;
}

.img-size {
    height: 300px;
    width: 500px;
}

.img-size-2 {
    height: 200px;
    width: 300px;
}

.img-size-play {
    height: 180px;
    width: 200px;
}

.text-center {
    text-align: center;
}

.btn-primary {
    background-color: cornflowerblue;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 40px;
}


/* Dropdown menu */


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Style The Dropdown Button */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 40px;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn .btn-primary {
    background-color: #3e8e41;
}