ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #4CAF50;
}

.active {
    background-color: #4CAF50;
}

.padding-top-80 {
    padding-top: 80px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.img-size {
    height: 300px;
    width: 500px;
}