.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ffffff;
    border: 1px solid black;
    padding: 10px;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ffffff;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0px;
    font-size: 16px;
    text-align: center;
}

.ul-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.li-nav {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #4CAF50;
}

.active {
    background-color: #4CAF50;
}

.padding-top-80 {
    padding-top: 80px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.img-size {
    height: 300px;
    width: 500px;
}

.img-size-2 {
    height: 200px;
    width: 300px;
}

.text-center {
    text-align: center;
}